:root {
	--orange: #f66a0a;
	--red: #eb6666;
	--green: #28a745;
	--blue: #0070f3;
	--lightBlue: #79b8ff;
	--lightestBlue: #c8e1ff;
	--offWhite: #f6f8fa;
	--slightGrey: #dbdbe2;
	--grey: #6a737d;
	--grey2: #586069;
	--black: #1a1e22;
	--darkGrey: #24292e;
	--white: #ffffff;
	--purple: #d075e0;
	--pink: #e367a9;
}
